.recipes {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  justify-content: space-around;
  background-color:rgb(211, 229, 181);
  color: aliceblue;
  
}

a:hover {
  color: orange;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.recipeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}